
body { margin: 0; 
    padding: 0; 
    background: linear-gradient(to right, #212529 68.5%, #b89600);
}
#map {
     position: absolute; 
     top: 250px; 
     bottom: 0; 
     width: 100%; }

.description {
    position: relative;
    top: 200px;
    color:#b89600;
}
